<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : StoneWork 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140228

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="//fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container" style="min-height:300px;">
		<div id="logo">
			<h1><a href="#">PiyushWork</a></h1>
		</div>
	</div>
	
</div>
<div id="wrapper">
	<div id="three-column" class="container">
		<div class="title">
			<h2>APIs derived from BookMyShow data</h2>
			<span class="byline">I couldn't find any developer APIs by BookMyShow. So I decided to do some reverse Engineering.</span>
		</div>
		<div class="boxA">
			<span class="icon-bar fa fa-server"></span>
			<p>Get list of movies.</p>
			<p style="text-align : center">'/movies'</p>
			<a href="/movies" class="button button-alt">Show</a>
		</div>
		<div class="boxB">
			<span class="icon-bar fa fa-search"></span>
			<p>Get list of movies by city. Eg. 'Bengaluru'.</p>
			<p style="text-align : center">'/city_name/movies'</p>
			<a href="https://bookmyshow-api.herokuapp.com/bengaluru/movies" class="button button-alt">Show</a>
		</div>
		<div class="boxC">
			<span class="icon-bar fa fa-info-circle"></span>
			<p> Get movie details/info. Eg. 'Baar Baar Dekho'.</p>
			<p style="text-align : center">'/movies/movie_name/movie_id'</p>
			<a href="https://bookmyshow-api.herokuapp.com/movies/baar-baar-dekho/ET00035913" class="button button-alt">Show</a>
		</div>
	</div>
</div>

<div id="copyright" class="container">
	<p>&copy; Silentx09 @ 2016.</p>
</div>

<script type="text/javascript">
	
</script>

</body>
</html>
